In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = './NewDataset.csv'
df = pd.read_csv(data, header=None)

In [3]:
df.shape

(270, 7)

In [4]:
df.head()

     0   1    2    3   4   5        6
0  100  A   Low  300  17  10  Xoodyak
1   90   A  Low  300  17  10  Xoodyak
2   80   A  Low  300  17  10  Xoodyak
3   70   A  Low  300  17  10  Xoodyak
4   60   A  Low  300  17  10  Xoodyak

In [5]:
col_names = ['Residual_Power', 'Application_Type', 'Min_Security_Level', 'Max_Stack_Usage', 'Max_ROM', 'Min_Throughput', 'Algorithm']
df.columns = col_names
df.head()

,Residual_Power,Application_Type,Min_Security_Level,Max_Stack_Usage,Max_ROM,Min_Throughput,Algorithm
0,100,A,Low,300,17,10,Xoodyak
1,90,A,Low,300,17,10,Xoodyak
2,80,A,Low,300,17,10,Xoodyak
3,70,A,Low,300,17,10,Xoodyak
4,60,A,Low,300,17,10,Xoodyak

In [6]:
for col in col_names:
    print(df[col].value_counts())

Residual_Power
100    27
90     27
80     27
70     27
60     27
50     27
40     27
30     27
20     27
10     27
Name: count, dtype: int64
Application_Type
N     10
O     10
Z     10
Y     10
X     10
W     10
V     10
U     10
T     10
S     10
R     10
Q     10
P     10
AA    10
M     10
L     10
K     10
J     10
I     10
H     10
G     10
F     10
E     10
D     10
C     10
B     10
A      9
A      1
Name: count, dtype: int64
Min_Security_Level
Low       90
Medium    90
High      90
Name: count, dtype: int64
Max_Stack_Usage
300    90
400    90
500    90
Name: count, dtype: int64
Max_ROM
17    90
20    90
35    90
Name: count, dtype: int64
Min_Throughput
10      90
200     90
1000    90
Name: count, dtype: int64
Algorithm
Xoodyak          110
ISAP              55
ASCON             27
TinyJAMBU         20
SPARKLE           18
GIFT-COFB         15
Grain128-AEAD     11
Romulus            9
PHOTON-Beetle      5
Name: count, dtype: int64

In [7]:
df['Algorithm'].value_counts()

Algorithm
Xoodyak          110
ISAP              55
ASCON             27
TinyJAMBU         20
SPARKLE           18
GIFT-COFB         15
Grain128-AEAD     11
Romulus            9
PHOTON-Beetle      5
Name: count, dtype: int64

In [8]:
df.isnull().sum()

Residual_Power        0
Application_Type      0
Min_Security_Level    0
Max_Stack_Usage       0
Max_ROM               0
Min_Throughput        0
Algorithm             0
dtype: int64

In [9]:
df_new = pd.DataFrame()

In [10]:
from numpy import random

for row in df.itertuples():
    end_energy = row.Residual_Power
    end_throughput = row.Min_Throughput
    begin_ram = row.Max_Stack_Usage
    begin_rom = row.Max_ROM
    for _ in range(100):
        rand_energy = random.uniform(end_energy-10, end_energy)
        rand_ram = random.uniform(begin_ram, begin_ram+100)
        rand_rom = random.uniform(begin_rom, begin_rom+100)
        rand_throughput = random.uniform(end_throughput - 200000, end_throughput)
        # random other variables?
        new_row = {'Residual_Power':rand_energy,
                   'Application_Type':row.Application_Type,
                   'Min_Security_Level':row.Min_Security_Level,
                   'Max_Stack_Usage':rand_ram,
                   'Max_ROM':rand_rom,
                   'Min_Throughput':rand_throughput,
                   'Algorithm':row.Algorithm}
        df_new = pd.concat([df_new, pd.DataFrame([new_row])], ignore_index=True)

In [11]:
df_new

,Residual_Power,Application_Type,Min_Security_Level,Max_Stack_Usage,Max_ROM,Min_Throughput,Algorithm
0,90.123347,A,Low,378.772528,60.669399,-11832.396501,Xoodyak
1,91.602455,A,Low,355.495352,106.221501,-90501.642149,Xoodyak
2,90.175968,A,Low,300.325091,71.392090,-129635.731740,Xoodyak
3,99.149473,A,Low,364.640146,59.061440,-93868.694167,Xoodyak
4,90.008425,A,Low,315.032287,22.086992,-12306.098255,Xoodyak
...,...,...,...,...,...,...,...
26995,9.467487,AA,High,507.538213,132.883789,-58486.621416,ASCON
26996,3.381402,AA,High,583.162434,55.785153,-20961.336899,ASCON
26997,1.798900,AA,High,548.553898,36.853259,-111018.186426,ASCON
26998,6.682905,AA,High,594.085960,113.250459,-173037.400430,ASCON
26999,7.732281,AA,High,584.622918,43.718843,-141497.792704,ASCON

In [12]:
df = pd.concat([df, df_new], ignore_index=True)

In [13]:
df.shape

(27270, 7)

In [14]:
df.isnull().sum()

Residual_Power        0
Application_Type      0
Min_Security_Level    0
Max_Stack_Usage       0
Max_ROM               0
Min_Throughput        0
Algorithm             0
dtype: int64

In [15]:
print(df.to_csv("dataset_expanded.csv", encoding='utf-8', index=False))

None