In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = './MiniDataset.csv'
df = pd.read_csv(data, header=None)

In [3]:
df.shape

(270, 7)

In [4]:
df.head()

     0   1   2     3     4       5        6
0  100  A   L1  2100  4000  300000  Piccolo
1   90   A  L1  2100  4000  300000  Piccolo
2   80   A  L1  2100  4000  300000  Piccolo
3   70   A  L1  2100  4000  300000  Piccolo
4   60   A  L1  2100  4000  300000  Piccolo

In [5]:
col_names = ['Residual_Energy', 'Application_Type', 'Min_Security_Level', 'Max_RAM', 'Max_ROM', 'Min_Throughput', 'Algorithm']
df.columns = col_names
df.head()

,Residual_Energy,Application_Type,Min_Security_Level,Max_RAM,Max_ROM,Min_Throughput,Algorithm
0,100,A,L1,2100,4000,300000,Piccolo
1,90,A,L1,2100,4000,300000,Piccolo
2,80,A,L1,2100,4000,300000,Piccolo
3,70,A,L1,2100,4000,300000,Piccolo
4,60,A,L1,2100,4000,300000,Piccolo

In [6]:
for col in col_names:
    print(df[col].value_counts())

Residual_Energy
100    27
90     27
80     27
70     27
60     27
50     27
40     27
30     27
20     27
10     27
Name: count, dtype: int64
Application_Type
N     10
O     10
Z     10
Y     10
X     10
W     10
V     10
U     10
T     10
S     10
R     10
Q     10
P     10
AA    10
M     10
L     10
K     10
J     10
I     10
H     10
G     10
F     10
E     10
D     10
C     10
B     10
A      9
A      1
Name: count, dtype: int64
Min_Security_Level
L1    90
L2    90
L3    90
Name: count, dtype: int64
Max_RAM
2100    90
2200    90
2500    90
Name: count, dtype: int64
Max_ROM
4000    90
5000    90
7000    90
Name: count, dtype: int64
Min_Throughput
300000     90
500000     90
2000000    90
Name: count, dtype: int64
Algorithm
SIMON        70
XTEA         70
RECTANGLE    60
Piccolo      30
LBlock       25
AES          10
PRINCE        5
Name: count, dtype: int64

In [7]:
df['Algorithm'].value_counts()

Algorithm
SIMON        70
XTEA         70
RECTANGLE    60
Piccolo      30
LBlock       25
AES          10
PRINCE        5
Name: count, dtype: int64

In [8]:
df.isnull().sum()

Residual_Energy       0
Application_Type      0
Min_Security_Level    0
Max_RAM               0
Max_ROM               0
Min_Throughput        0
Algorithm             0
dtype: int64

In [9]:
df_new = pd.DataFrame()

In [10]:
from numpy import random

for row in df.itertuples():
    end = row.Residual_Energy
    for _ in range(100):
        rand_energy = random.uniform(end-10, end)
        # random other variables?
        new_row = {'Residual_Energy':rand_energy,
                   'Application_Type':row.Application_Type,
                   'Min_Security_Level':row.Min_Security_Level,
                   'Max_RAM':row.Max_RAM,
                   'Max_ROM':row.Max_ROM,
                   'Min_Throughput':row.Min_Throughput,
                   'Algorithm':row.Algorithm}
        df_new = pd.concat([df_new, pd.DataFrame([new_row])], ignore_index=True)

In [11]:
df_new

,Residual_Energy,Application_Type,Min_Security_Level,Max_RAM,Max_ROM,Min_Throughput,Algorithm
0,96.341509,A,L1,2100,4000,300000,Piccolo
1,94.542570,A,L1,2100,4000,300000,Piccolo
2,96.244813,A,L1,2100,4000,300000,Piccolo
3,93.260507,A,L1,2100,4000,300000,Piccolo
4,94.075292,A,L1,2100,4000,300000,Piccolo
...,...,...,...,...,...,...,...
26995,8.922153,AA,L3,2500,7000,2000000,RECTANGLE
26996,0.360557,AA,L3,2500,7000,2000000,RECTANGLE
26997,6.084445,AA,L3,2500,7000,2000000,RECTANGLE
26998,1.967165,AA,L3,2500,7000,2000000,RECTANGLE
26999,3.299470,AA,L3,2500,7000,2000000,RECTANGLE

In [12]:
df = pd.concat([df, df_new], ignore_index=True)

In [13]:
df.shape

(27270, 7)

In [14]:
df.isnull().sum()

Residual_Energy       0
Application_Type      0
Min_Security_Level    0
Max_RAM               0
Max_ROM               0
Min_Throughput        0
Algorithm             0
dtype: int64

In [15]:
print(df.to_csv("dataset_expanded.csv", encoding='utf-8', index=False))

None